body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}


.taekwando__section {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap:20px;
}

.taekwando_title {
    display: flex;
}

.taekwando_inner_block {
    display: flex;
      gap:20px;
}

.history_fact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    padding: 20px 40px;
    background-color: #e1e1e1;
    color: #222;
    line-height: 3rem;
    font-size: 1.5rem;
}

.history_fact h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history_fact h3::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("/fact_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15px;
    justify-content: center;
}

.taekwando_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}