.hero__section {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 40px;
}

.hero__title__section {
  display: flex;  
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  max-width: 600px;
  gap: 20px;
}

.hero__img__section {
  display: flex;  
  position: relative;
  width: 600px;
}

.hero__img__section img {
  display: flex;  
  width:500px;
  height: 351px;
}



h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 68px;
}


.rotated_text {
   position: absolute;
   top: 250px;
   left: 280px;
   display: inline-block;
   font-family: "Corvetta";
   font-size: 3rem;
   color: #FF3C3C;
   transform: rotate(-10deg);
}

