@import '../../abstracts/variables';

.about-taekwando {
    display: flex;

}

.about-taekwando__section {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    line-height: 2.8rem;
    max-width: $max-width;
    margin: 0 auto;
    padding: 30px 40px 60px;
    gap: 30px;


    h2 {
        text-align: right;
    }

      @media (max-width: 560px) {
         padding: 20px 15px;
        }

}

.about-taekwando__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    text-align: justify;
    background-color: $dark;
    color: $light;
    border-radius: 50px;
}