.burger {
    display: none;
    flex-direction: column;
    height: 24px;
    width: 24px;
    justify-content: space-around;
    cursor: pointer;

    @media (max-width: 875px) {
        display: flex;
    }
}

.burger__line {
    height: 2px;
    background-color: #ffffff;
    width: 100%;
}