@import '../abstracts/variables';

.header {
  background-color: $dark;
  color: $white;
  display: flex;
  justify-content: center;
}

@media (max-width: 430px) {
  .header__beginners-button {
    display: none;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  max-width: $max-width;
  padding: 20px 40px;
  flex-grow: 1;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 180px;
  height: 80px;
  gap: 20px;
}

.logo1 {
  width: 80px;
  height: 80px;
  background-image: url('/logo_krd.png');
  background-size: cover;
}

.logo2 {
  width: 80px;
  height: 80px;
  background-image: url('/logo_itf.png');
  background-size: cover;
}
