* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


@font-face {
  font-family: "Oswald";
  src: url(../src/fonts/Oswald.ttf);
}

@font-face {
  font-family: "Corvetta";
  src: url(../src/fonts/Corvetta.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(../src/fonts/Raleway.ttf);
}
@font-face {
  font-family: "Raleway Italic";
  src: url(../src/fonts/Raleway-Italic.ttf);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}


body {
  font-size: 1.6rem;
  font-family: "Railway", sans-serif;
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4 {
  font-family: "Oswald";
  font-style: normal;
  text-transform: uppercase;
}

p {
  margin: 0;
}

