* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
 
/* ШРИФТЫ */
 
@font-face {
  font-family: "Oswald";
  src: url(../src/fonts/Oswald.ttf);
}

@font-face {
  font-family: "Corvetta";
  src: url(../src/fonts/Corvetta.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(../src/fonts/Raleway.ttf);
}
@font-face {
  font-family: "Raleway Italic";
  src: url(../src/fonts/Raleway-Italic.ttf);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}


body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color:#222;
  color: #F2F2F2;;
}


.ligth {
   background-color: #F2F2F2;
   color: #222;
}

h1, h2, h3, h4 {
  font-family: "Oswald";
  font-style: normal;
  text-transform: uppercase;
}

p {
  margin: 0;
}

.page__section {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 20px;
}

.page__title_dark {
    display: flex;
    justify-content: end;
    padding: 0 0 10px 0px;
}

.page__title_light {
    display: flex;
    padding: 0 0 10px 0px;
}


/* HEADER START*/


.header {
  background-color: #222;
  color: #fff;
  display: flex;
  min-height: 120px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
 display: flex;
 width: 220px;
 height: 100px;
 gap:20px;
}

.logo1 {
  width: 100px;
  height: 100px;
  background-image: url('../../public/logo_krd.png');
  background-size: cover;  
}

.logo2 {
  width: 100px;
  height: 100px;
  background-image: url('../../public/logo_itf.png');
  background-size: cover;  
}

/* HEADER END*/


/* HERO SECTION START */

.hero__section {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0  40px 20px 40px;
}

.hero__title__section {
  display: flex;  
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  max-width: 600px;
  gap: 20px;
}

.hero__img__section {
  display: flex;  
  position: relative;
  width: 600px;
}

.hero__img__section img {
  display: flex;  
  width:500px;
  height: 351px;
}


.big {
  display: flex;
  font-weight: 250;
  font-size: 55px;
  line-height: 68px;
}

h2 {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.rotated_text {
   position: absolute;
   top: 250px;
   left: 280px;
   display: inline-block;
   font-family: "Corvetta";
   font-size: 3rem;
   color: #FF3C3C;
   transform: rotate(-10deg);
}


/* HERO SECTION END */


/* ABOUT SECTION START */

.about_block {
    display: flex;
    gap:20px;
}

.about_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
}

.about_activity {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
    padding: 20px 40px;
    background-color: #e1e1e1;
    color: #222;
    line-height: 3rem;
    border-radius: 20px;
}

.about_activity h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_activity h3:after {
    content: "";
    display: inline-block;
    width: 54px;
    height: 40px;
    background-image: url("/icons/fight_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15px;
    justify-content: center;
}

/* ABOUT SECTION END */




/* ABOUT TAEKWANDO START */

.taekwando_block {
    display: flex;
      gap:20px;
}

.history_fact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    padding: 20px 40px;
    background-color: #e1e1e1;
    color: #222;
    line-height: 3rem;
    font-size: 1.5rem;
    border-radius: 20px;
}

.history_fact h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history_fact h3::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("/icons/fact_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15px;
    justify-content: center;
}

.taekwando_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ABOUT TAEKWANDO END */

/* PRESIDENT START */

.president_block {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.president_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.president_block_img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-image: url('./president/president.jpg');
  background-size: cover;
 background-position: -65px;
}

/* PRESIDENT END */

/* FOOTER START */

.footer {
  display: flex;
  background-color: #222;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 0 0 0;
    a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: none;
      color: red;
      cursor: pointer;
      }
}
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  
  li {
    padding:20px;
  }
   
   a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: none;
      color: #FF3C3C;
      cursor: pointer;
      }
    }
}

/* FOOTER END  */

/* NEWS START */
.news__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
}

.news_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.news_card_text {
display: flex;
text-align: right;
padding: 20px;
}

.news_card_img {
  width: 400px;
  border-radius: 20px;
}

.news_card_images {
  max-width: 300px;
  height: 100%;
  border-radius: 20px;
}

.news_card_details {
  background-color: #b9b7b7;
  border-radius: 20px;
  padding: 20px;
  min-width: 400px;
}

.news_filter {
  display: flex;
  gap: 40px;
  margin: auto;
  list-style: none;
}

.news_filter li {
  padding: 10px 30px;
  border-radius: 20px;
  color:#FF3C3C;;
  cursor: pointer;
}

.news_filter li:hover {
  background-color: #FF3C3C;
  padding: 10px 30px;
  border-radius: 20px;
  color:white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.news_date {
  display: flex;
  font-weight: 600;
}

.news_content {
  display: flex;
  gap: 20px;
}



/* NEWS END */
