* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}


body {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Oswald";
  src: url(../src/fonts/Oswald.ttf);
}
@font-face {
  font-family: "Mulish";
  src: url(../src/fonts/Mulish.ttf);
}
@font-face {
  font-family: "Mulish Italic";
  src: url(../src/fonts/Mulish-Italic.ttf);
}

h1, h2, h3, h4 {
  font-family: "Oswald";
  font-style: normal;
  text-transform: uppercase;
}

p {
  margin: 0;
}

