
.codex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  padding: 0 10px 0 40px;
  max-width: 800px;
  margin: 0 auto;
}

.codex li {
  padding: 0 10px;
  font-weight: 500;
}

@media (max-width: 560px) {
  .codex {
    padding: 0 8px 0 16px;
  }

  .codex li {
    padding: 0 6px;
  }
}
