
.poomsae {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.poomsae__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.poomsae__block h2 {
  font-size: 1em;
  padding: 5px 0 5px 15px;
}

.poomsae__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  padding: 0 20px;
}

.poomsae__title {
  display: flex;
  background-color: #dedede;
}

@media (max-width: 560px) {
  .poomsae__block h2 {
    padding: 5px 0 5px 10px;
  }

  .poomsae__description {
    padding: 0 10px;
  }
}

