
.rules {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  padding: 0 30px;
}

.rules__section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rules__victory {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.rules__victory ol {
  padding: 0 15px;
}

.rules__victory li {
  padding: 0 10px;
  text-align: left;
}

@media (max-width: 560px) {
  .rules {
    padding: 0 10px;
  }

  .rules__section {
    align-items: flex-start;
    flex-direction: column;
  }
}

